Repository ca-cwds/cwds-jobs, pull requests merged in 2019-05, with the labels that each got.

#186 Add subfield 'phonetic' to last_name and first_name of users index
  build.gradle
  jobs-cap-users/src/main/resources/cap.users.mapping.json
  jobs-cap-users/src/main/resources/cap.users.settings.json
Labels: cap-users, minor

#187 SEAR-133: Elastic Search index is not properly created
  jobs-audit-events/src/main/resources/audit.events.mapping.json
  jobs-cap-users/src/main/resources/cap.users.mapping.json
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticApiWrapper.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticsearchService.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/inject/ElasticSearchModule.java
  jobs-common/src/test/java/gov/ca/cwds/jobs/common/elastic/ElasticsearchServiceTest.java
  jobs-facilities-common/src/main/resources/facility.mapping.json
Labels: audit-events, cap-users, facilities-cws, facilities-lis, patch

#188 COG-1473: Perry version is updated
  build.gradle
Labels: cap-users, minor

#189 SEAR-579: Search results are not sort in alphabetical order
  jobs-facilities-common/src/main/resources/facility.mapping.json
  jobs-facilities-common/src/main/resources/facility.settings.json
Labels: facilities-cws, facilities-lis, patch

#190 SEAR-579: fixed sorting by facility name
  jobs-facilities-common/src/main/resources/facility.mapping.json
  jobs-facilities-common/src/main/resources/facility.settings.json
  jobs-facilities-cws/cws_facility_index.bat
Labels: facilities-cws, facilities-lis, patch
