Repository ca-cwds/cwds-jobs, pull requests merged in 2019-07, with the labels that each got.

#196 COG-1445: User Report for CWDS Staff
  jobs-cap-users/config/unix_cap-users-job.yaml
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/CapUsersJobConfiguration.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/CapUsersJobModule.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/CapUsersJobModuleBuilder.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/inject/AwsBucketName.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/inject/AwsRegion.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/inject/AwsSecretKey.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/inject/AwsUserId.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/iterator/CapUsersInitialJobIterator.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/job/CapUsersBatchProcessor.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/paginator/CapUsersInitialJobPaginator.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/report/ReportColumn.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/report/UsersReportBuilder.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/report/UsersReportFinalizer.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/report/UsersReportWriter.java
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/report/Utils.java
  jobs-cap-users/src/test/java/gov/ca/cwds/jobs/cap/users/report/UsersReportBuilderTest.java
  jobs-cap-users/unix_cap_users_index.sh
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/BulkWriter.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/mode/JobMode.java
Labels: cap-users, minor

#199 SEAR-650, SEAR-648 Knowledge transfer
  README.md
Labels: facilities-cws, patch

#194 DON'T MERGE: CANS-1240: update to Elasticsearch 6.8.0
  README.md
  build.gradle
  jobs-audit-events/config/unix_audit-events-job.yaml
  jobs-audit-events/src/main/java/gov/ca/cwds/jobs/audit/AuditEventElasticWriter.java
  jobs-audit-events/src/main/resources/audit.events.mapping.json
  jobs-cap-users/config/unix_cap-users-job.yaml
  jobs-cap-users/src/main/java/gov/ca/cwds/jobs/cap/users/CapUsersWriter.java
  jobs-cap-users/src/main/resources/cap.users.mapping.json
  jobs-common/build.gradle
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticApiWrapper.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticUtils.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticWriter.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticsearchBulkOperationsService.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/ElasticsearchService.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/elastic/XPackUtils.java
  jobs-common/src/main/java/gov/ca/cwds/jobs/common/inject/ElasticSearchModule.java
  jobs-common/src/test/java/gov/ca/cwds/jobs/common/elastic/ElasticUtilsTest.java
  jobs-common/src/test/java/gov/ca/cwds/jobs/common/elastic/ElasticsearchServiceTest.java
  jobs-common/src/test/java/gov/ca/cwds/jobs/common/elastic/XPackUtilsTest.java
  jobs-common/src/test/java/org/elasticsearch/client/ElasticMockFactory.java
  jobs-common/src/test/java/org/elasticsearch/client/RestHighLevelClient.java
  jobs-facilities-common/src/main/java/gov/ca/cwds/jobs/cals/facility/FacilityElasticWriter.java
  jobs-facilities-common/src/main/resources/facility.mapping.json
  jobs-facilities-cws/config/cws-facility-job.yaml
  jobs-facilities-cws/config/unix_cws_facility-job.yaml
  jobs-facilities-lis/config/lis-facility-job.yaml
  jobs-facilities-lis/config/unix_lis-facility-job.yaml
  settings.gradle
Labels: audit-events, cap-users, facilities-cws, facilities-lis, minor

#202 SEAR-650, SEAR-648 Knowledge transfer
  jobs-facilities-cws/config/cws-facility-job.yaml
  jobs-facilities-lis/config/lis-facility-job.yaml
Labels: facilities-cws, facilities-lis, patch

#201 FIT-628: Removes preint stage for deploys
  jenkinsfile-deploy-preint-int.groovy
Labels: cap-users, patch
